.button {
  padding: 1rem 2rem;
  border-radius: 3rem;

  border: 1px solid var(--background);

  box-shadow: 2px 2px 5px var(--dark-shadow), -2px -2px 5px var(--light-shadow),
    inset 2px 2px 5px var(--dark-shadow),
    inset -2px -2px 5px var(--light-shadow);

  background-color: var(--background);

  transition: 0.1s ease-in-out;
}

.button:active {
  box-shadow: 0 0 0 var(--dark-shadow), 0 0 0 var(--light-shadow),
    inset 2px 2px 8px 2px var(--dark-shadow),
    inset -2px -2px 8px 2px var(--light-shadow);
}
