@keyframes move {
  0% {
    left: var(--hide-position);
  }

  10% {
    left: var(--position);
  }

  100% {
    left: var(--position);
  }
}

@keyframes moveOut {
  100% {
    left: var(--hide-position);
  }

  10% {
    left: var(--hide-position);
  }

  0% {
    left: var(--position);
  }
}

.body {
  --hide-position: -100%;
  --position: 1rem;
  --border-radius: 1rem;

  position: absolute;
  left: var(--hide-position);
  bottom: var(--position);

  padding: 2rem;

  border-radius: var(--border-radius);
  box-shadow: 0 0 0.5rem 0.1rem black;

  background: var(--foreground);
  color: var(--background);
  
  font-weight: bold;
  animation: var(--animation-duration) move ease-in-out,
    moveOut var(--animation-duration) var(--animation-duration) ease-in-out;
}

@media screen and (max-width: 768px) {
  .body {
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 21rem;
    text-align: center;
  }

  @keyframes move {
  0% {
    top: var(--hide-position);
  }

  10% {
    top: var(--position);
  }

  100% {
    top: var(--position);
  }
}

@keyframes moveOut {
  100% {
    top: var(--hide-position);
  }

  10% {
    top: var(--hide-position);
  }

  0% {
    top: var(--position);
  }
}
}