.body {
  height: 100vh;
  position: relative;
  padding: 0;
  background: url("../../public/media/img/lofi-girl.jpg") center center;
  background-size: cover;
}

.bgImg {
  height: 100%;
  transform: rotateY(180deg);
}

.loginContainer {
  width: 21rem;
  height: 100%;
  padding: 0 2rem;
  background-color: var(--background);

  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.loginContainer form button {
  width: 80%;
}

@media screen and (max-width: 1279px) {
  .loginContainer {
    width: 100%;
    background: transparent;
  }

  .loginContainer form {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 21px black;
  }
}
