@keyframes move {
    from {
        left: -100%;
    }

    to {
        left: var(--position);
    }
}

.body {
    --position: 3rem;
    --border-radius: 1rem;
    position: absolute;
    left: var(--position);
    bottom: var(--position);

    padding: 2rem;
    
    border: 2px solid white;
    border-radius: var(--border-radius);

    background: linear-gradient(to right, var(--background), var(--foreground));
    color: red;
    
    animation: .5s move ease-in-out;
}