.body {
    max-width: 100%;
    width: 3rem;
    aspect-ratio: 1;
    background: url('../../../public/media/img/gifs/raining-loading.gif');
    background-size: cover;
    background-position: center center;
}